@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F8F4E1;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container p {
    font-size: 64px;
    font-weight: bold;
    color: #543310;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
}

.typed-text {
    color: #AF8F6F;
    font-weight: normal;
}

.cursor {
    background: linear-gradient(to bottom, #AF8F6F 80%, transparent 20%);
    display: inline-block;
    width: 3px;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background: linear-gradient(to bottom, #AF8F6F 80%, transparent 20%);
    }
    49% {
        background: linear-gradient(to bottom, #AF8F6F 80%, transparent 20%);
    }
    50% {
        background: linear-gradient(to bottom, transparent 80%, transparent 20%);
    }
    99% {
        background: linear-gradient(to bottom, transparent 80%, transparent 20%);
    }
    100% {
        background: linear-gradient(to bottom, #AF8F6F 80%, transparent 20%);
    }

}